/****************************************************************************************************/
.checkbox.inset {
    margin-left: 40px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}
.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
}

.radio {
    padding-left: 20px;
}
.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}
.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
    color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
    color: #fff;
}

/****************************************************************************************************/

html {
    margin: 0;
    min-width: 768px;
    overflow: hidden;
}

body {
    min-width: 768px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.playerFrame {
    border: none;
    width: 256px;
    height: 256px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#gameFrameModal {
    border: none;
    width: 256px;
    height: 256px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#editor {
    margin: 0;
    padding: 0;
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

.modal-header.player {
    border-bottom: none;
}

.centered {
    text-align: center;
}

.modal-dialog {
    min-width: 300px !important;
}

.modal-dialog.modal-size256 {
    width: 276px;
}

.modal-dialog.modal-x-small {
    width: 20%;
}

.modal-dialog.modal-small {
    width: 25%;
}

.modal-dialog.modal-medium {
    width: 35%;
}

.modal-dialog.modal-large {
    width: 50%;
}

.masked {
    display: none;
}

.fa-13 {
    font-size: 13px;
}

.toolbar {
    white-space: nowrap;
    padding: 10px;
    height: 50px;
    width: 100%;
    min-width: 500px;
    margin-right: 300px;
    overflow: visible;
    transition: height 0.35s;
    border-bottom: 1px solid #CCC;
}

.toolbar.expanded {
    height: 100px;
    transition: height 0.35s;
}

.toolbar2 {
    position: absolute;
    left: 10px;
    top: 55px;
    width: 100%;
    min-width: 500px;
    height: 0px;
    transition: height 0.35s;
    overflow: hidden;
}

.toolbar2 {
    height: 50px;
    transition: height 0.35s;
}

.menuItem {
    padding-left: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.menuItem:hover {
    background:#ddd;
}

.menuItem.separator {
    cursor: default;
    font-weight: bold;
    padding-left: 10px;
}

.menuItem.separator:hover {
    background: inherit;
}

.menuCheck {
    padding-top: 2px;
}

/* firefox float clear fix */

.toolbar>button {
    float: left;
    margin-right: 10px;
}

#gameSearch {
    display: inline-block;
    width: 20em;
}

.statusError {
    color: red;
    font-weight: bold;
}

.whitestar {
    color: #CCC;
}

.yellowstar {
    color: #FC0;
}

.help-block.inline {
    display: inline;
}

.navbar-form.navbar-right.nomargin {
    margin: 0;
}

.controls {
    margin: auto;
    width: 256px;
}

.gametitle {
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background: white;
    padding: 1px;
}

.byline {
    margin-left: auto;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 5px;
}

.instructionsTextarea {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0;
    padding: 1px;
    overflow: hidden;
    resize: none;
    border: 0;
    background: transparent;
}

.instructionsTextarea.editable {
    border-radius: 5px;
    border: 1px solid #8DF;
    padding: 0px;
    background: white;
}

.gametitle.editable {
    border-radius: 5px;
    border: 1px solid #8DF;
    padding: 0px;
    background: white;
}

.instructionsTextarea.editing {
    border-radius: 5px;
    background: white;
}

.gametitle.editing {
    border-radius: 5px;
    background: white;
}

.backdropper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #000;
    opacity: 0.666;
    display: none;
}

div#mainheader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

div#mainsidebar {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 300px;
    bottom: 0px;
    overflow: auto;
    border-left: 1px solid #e7e7e7;
}

div#mainfooter {
    position: absolute;
    bottom: 0;
    right: 300px;
    left: 0px;
    height: 30px;
    border-top: 1px solid #e7e7e7;
    margin-right: 0;
    z-index: 100;
    background: white;
}

div.maincontainer {
    position: absolute;
    top: 50px;
    bottom: 30px;
    left: 0;
    right: 300px;
}

div#gameslist {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    transition: top 0.35s;
    background: white;
    z-index: 500;
}

div#gameslist.expanded {
    transition: top 0.35s;
    top: 100px;
}

div.editorContainerDiv {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

div#helpcontainer {
    position: absolute;
    top: 0;
    left: 20;
    right: 30;
    bottom: 0;
    overflow-y: auto;
}

div#homecontainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

@media screen and (max-width: 900px) {
    div#mainsidebar {
        display: none;
    }

    div#mainfooter {
        right: 0px;
    }

    div.maincontainer {
        right: 0px;
    }
}

.statusBar {
    margin-left: 10px;
    margin-top: 5px;
}

div#mainfooter.row {
    padding-top: 5px;
    padding-left: 30px;
}

#networkIndicator {
    width: 2em;
}

#ratingBlock {
    margin-top: 10px;
    margin-bottom: 10px;
}

.linky {
    cursor: pointer;
}

#framerateButton {
    margin-top: 10px;
}

pre.helpcode {
    background: white;
    color: darkred;
}

.shareblock {
    margin-bottom: 10px;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background: white;
}

.flex-item {
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    overflow: hidden;
    background: white;
    position: relative;
}

.flex-item.box {
    width: 200px;
    min-width: 200px;
    height: 160px;
    margin: 10px;

    border: 1px solid #CCC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
}

.flex-item.list {
    margin: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    min-width: 240px;
    height: 80px;
}

.dropshadow.box {
    box-shadow: 2px 2px 20px 1px #EEE;
}

.dropshadow.list {
    /*    box-shadow: 2px 2px 20px 1px #EEE;*/
}

.cloaked {
    visibility: hidden;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.game-title {
    font-weight: bolder;
    font-size: 14px;
    white-space: nowrap;
    width: 100%;
}

.game-username {
    font-weight: lighter;
    font-size: 14px;
    white-space: nowrap;
}

@media screen and (max-width: 900px) {
    .game-buttons {
        display: none;
    }
}

/* BOX */

.box .game-title {
    margin-top: 5px;
    text-align: center;
}

.box .game-username {
    text-align: center;
    display: block;
    width: 100%;
}

.box .game-instructions {
    display: none;
}

.box .game-screenshot {
    width: 64px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.box .game-buttons {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.box .game-rating {
    margin-top: 4px;
    text-align: center;
}

.box .game-saved {
    display: none;
}

/* LIST */

.list .game-title {
    position: absolute;
    left: 90px;
    width: 230px;
    top: 7px;
    text-align: left;
    overflow: hidden;
}

.list .game-username {
    position: absolute;
    left: 90px;
    width: 230px;
    top: 24px;
    overflow: hidden;
}

.list .game-instructions {
    position: absolute;
    left: 325px;
    right: 10px;
    top: 7px;
    bottom: 10px;
    overflow: hidden;
    font-weight: lighter;
    font-size: 14px;
    text-align: left;
}

.list .game-screenshot {
    position: absolute;
    left: 20px;
    top: 7px;
}

.list .game-buttons {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.list .game-rating {
    position: absolute;
    left: 90px;
    bottom: 10px;
}

.list .game-saved {
    position: absolute;
    left: 190px;
    bottom: 10px;
}

.gameLink:hover {
    cursor: pointer;
}

a.share {
    width: 32px;
    height: 32px;
    display: inline-block;
}

a.share * {
    display: none;
}

a.share-facebook {
    background: url(/static/img/logos.png) 0px 0px no-repeat;
}

a.share-twitter {
    background: url(/static/img/logos.png) 0px -32px no-repeat;
}

.netspin {
    margin-top: 10px;
    margin-left: 10px;
}

/* bootstrap clash fix */

.ace_search_field  {
    color: black;
}

.pagination {
    margin-top: 0px;
    margin-right: 10px;
}

.linkNoHref:hover {
    cursor: pointer;
}

.popover #searchOptionsTemplate {
    width: 700px;
    height: 500px;
}

fieldset.searchOrders {
    padding 5px;
}

#pagesSection {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
}

#gamesTotal {
    line-height: 30px;
    margin-right: 10px;
    vertical-align: top; /* for Firefox */
}

#searchBar {
    z-index: 10;
}

fieldset.searchOrders legend {
    padding-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.bulletless {
    list-style: none;
    padding-top: 0px;
}

fieldset.searchOrders ul li label {
    font-weight: lighter;
}

.searchOptionPopover-popover {
    min-width: 370px;
}

td .searchOptionsRow {
}

.searchOptionsLabel {
    padding: 10px;
}

#viewStyles {
    position: absolute;
    top: 40px;
    right: 10px;
}

.popover-close {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 9px;
    color:#666;
}

.popover-close:hover {
    color:#000;
    cursor:pointer;
}

.reversed {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.fa-clear-x:before {
    content: '\2a2f';
}

@media (min-width:768px)
{
    .navbar {
        border-radius:0;
        border: none;
        border-bottom: 1px solid #CCC;
    }
}

.navbar-brand>img {
    border-radius: 0px;
}

.navbar-brand {
    margin: 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
    border-radius: 0px;
}

@media (min-width: 768px) {

}

.colorName {
    padding-left: 4px;
    margin-left: 0px;
    border: 1px solid white;
    background: #ddd;
    overflow: hidden;
    min-width: 7em;
}

.colorBox {
    height: 2.2em;
    width: 1em;
    border: 1px solid black;
    margin-bottom: 12px;
}

.colorBox.cb2 {
    border: none;
    margin-bottom: 0px;
}

.funcname {
    font-size: 20px;
    margin-left: 0px;
    padding-left: 0px;
    border: none;
}

.func {
    padding-top: 20px;
    margin-bottom: 140px;
}

.navbar.navbar-default {
    margin: 0;
}

.playerContainer {
    margin: auto;
    padding: 0;
    width: 256px;
    min-width: 256px;
    max-width: 256px;
    height: 256px;
    min-height: 256px;
    max-height: 256px;
    background: red;
}