<div class='maincontainer' ng-controller='EditorController' stateful>
    <div class="toolbar" id='editorToolbar'>
        <button title='Ctrl-R' class='btn btn-sm btn-success' ng-click='runIt(true)'>Run</button>
        <button title='Ctrl-S' class='btn btn-sm btn-primary' ng-show='canSaveIt' ng-click='saveIt()'>Save</button>
        <button class='btn btn-sm btn-danger' ng-show='canDeleteIt()' ng-click='deleteIt()'>Delete</button>
    </div>
    <div class='editorContainerDiv' tabindex='1'  autoSize="1" editor-container='0'>
    </div>
</div>
