<div class='maincontainer'>

    <script id="template/pagination/pagination.html" type="text/ng-template">
        <ul class="pagination">
                <li ng-if="boundaryLinks && totalPages > 5" ng-class="{disabled: noPrevious()}"><a href ng-click="selectPage(1)" title="First Page"> <span class="fa fa-backward"></span></a></li>
                <li ng-if="directionLinks && totalPages > 1" ng-class="{disabled: noPrevious()}"><a href ng-click="selectPage(page - 1)" title="Previous Page"><span class="fa fa-step-backward"></span></a></li>
                <li ng-if="totalPages > 1" ng-repeat="page in pages track by $index" ng-class="{active: page.active}"><a href ng-click="selectPage(page.number)">{{page.text}}</a></li>
                <li ng-if="directionLinks && totalPages > 1" ng-class="{disabled: noNext()}"><a href ng-click="selectPage(page + 1)" title="Next Page"><span class="fa fa-step-forward"></span></a></li>
                <li ng-if="boundaryLinks && totalPages > 5" ng-class="{disabled: noNext()}"><a href ng-click="selectPage(totalPages)" title="Last Page"><span class="fa fa-forward"></span> </a></li>
        </ul>
    </script>

    <div ng-class="['toolbar', 'form-inline', {'expanded': options.expanded}]">
        <div class='input-group' id='searchBar'>
            <div class='input-group-btn'>
                <button class='btn btn-sm btn-default' ng-click='options.expanded = !options.expanded' title='Options'>
                    <i class='fa fa-bars'></i>
                </button>
                <button class='btn btn-sm btn-default' ng-click='options.text=""' title='Clear search'>
                    <i class='fa fa-clear-x fa-13'></i>
                </button>
            </div>
            <input  id='gameSearch'
                    type='text'
                    class='input-sm form-control'
                    placeholder='Search'
                    ng-model='options.text'
                    maxlength='32' />
        </div>
        <div id='pagesSection'>
            <span id='gamesTotal'>
                {{results}}
            </span>
            <span>
                <uib-pagination total-items='totalGames'
                                ng-model='currentPage'
                                items-per-page='options.pageSize'
                                max-size='5'
                                class='pagination-sm'
                                boundary-links='true'>
                </uib-pagination>
            </span>
        </div>
        <div ng-class="['toolbar2', {'expanded': options.expanded}]">
            <div class='btn-group'>
                <button type='button' class='btn btn-default btn-sm btn-info' ng-model='options.viewStyle' uib-btn-radio="'box'"><i class='fa fa-lg fa-th'></i></button>
                <button type='button' class='btn btn-default btn-sm btn-info' ng-model='options.viewStyle' uib-btn-radio="'list'"><i class='fa fa-lg fa-th-list'></i></button>
            </div>
            <div class='btn-group'>
                <button class='btn btn-default btn-sm btn-primary' ng-model='options.pageSize' ng-repeat='p in [10, 20, 50]' uib-btn-radio='{{p}}'>{{p}}</button>
            </div>
            <div class="btn-group">
                <button type='button' class="btn btn-default btn-sm btn-success" ng-model="options.justMyGames" uib-btn-radio="1">Mine</label>
                <button type='button' class="btn btn-default btn-sm btn-success" ng-model="options.justMyGames" uib-btn-radio="0">All</label>
            </div>
            <div class="btn-group">
                <button type='button' class="btn btn-default btn-sm btn-warning" ng-model="options.orderBy" ng-repeat='o in orders' uib-btn-radio="$index">{{o.text}}</label>
            </div>
        </div>
    </div>
    <div id='gameslist' ng-class="['cloakable', {'expanded': options.expanded}]">
        <div class='flex-container'>
            <div ng-repeat='g in games'
                    class='dropshadow gameLink' ng-class="['flex-item', options.viewStyle]"
                    ng-click='popItUp($event, g.game_id)'
                    ng-attr-id='game-{{g.game_id}}'
                    ng-mouseup='unclicked($index)'
                    id='game_{{$index}}'>
                <div class="game-title">{{g.game_title}}</div>
                <div class="game-username">by {{g.user_username}}</div>
                <div class="game-instructions">{{g.game_instructions}}</div>
                <div class="game-rating">
                    <i ng-repeat='i in [1,2,3,4,5]' class='{{star(i, g)}}star fa fa-star'></i>
                </div>
                <div class="game-saved">{{timer(g.game_lastsaved)}}</div>
                <div class="gameLink game-screenshot">
                    <img id="screen_{{g.game_id}}" ng-src='{{screenshot(g)}}' width='64' height='64' />
                </div>
            </div>
        </div>
    </div>
</div>
