<div class='maincontainer'>
    <div class='container-fluid' id='helpcontainer'>
        <div class='row'>
            <div class='col-md-8'>
                <h2>Help</h2>
            </div>
        </div>
        <div class='row'>
            <div class='container-fluid'>
                <div class='col-md10'>
                    <p>Little Mini Games are written in Javascript, so if you don't already know how to write Javascript
                    programs, head over to <a href='https://www.codecademy.com/tracks/javascript'>CodeAdcademy</a> and
                    learn. Once you've done that, come back and write some games!</p>
                    <p>Little Mini Games are played on a 16x16 grid of pixels and can display 16 colors.
                    The coordinates start at (0,0) in the top left and go to (15,15) in the bottom right.
                    The keys which can be used are: 'up', 'down', 'left', 'right' and 'space'.
                    The colors available are:</p>
                </div>
            </div>
        </div>
        <div class='row' style='white-space: nowrap; overflow: hidden'>
            <div class='col-md-10 col-md-offset-1'>
                <div class='row'>
                    <div class='col-xs-1 colorBox cb2' style='background: #000000'></div>
                    <div class='col-xs-1 colorBox cb2' style='background: #008000'></div>
                    <div class='col-xs-1 colorBox cb2' style='background: #00FF00'></div>
                    <div class='col-xs-1 colorBox cb2' style='background: #80FF80'></div>
                </div>
                <div class='row'>
                    <div class='col-xs-1 colorBox cb2' style='background: #800000'></div>
                    <div class='col-xs-1 colorBox cb2' style='background: #FF0000'></div>
                    <div class='col-xs-1 colorBox cb2' style='background: #FF8080'></div>
                    <div class='col-xs-1 colorBox cb2' style='background: #000080'></div>
                </div>
                <div class='row'>
                    <div class='col-xs-1 colorBox cb2' style='background: #0000FF'></div>
                    <div class='col-xs-1 colorBox cb2' style='background: #00FFFF'></div>
                    <div class='col-xs-1 colorBox cb2' style='background: #800080'></div>
                    <div class='col-xs-1 colorBox cb2' style='background: #FF00FF'></div>

                </div>
                <div class='row'>
                    <div class='col-xs-1 colorBox cb2' style='background: #FF80F0'></div>
                    <div class='col-xs-1 colorBox cb2' style='background: #FF8000'></div>
                    <div class='col-xs-1 colorBox cb2' style='background: #FFFF00'></div>
                    <div class='col-xs-1 colorBox cb2' style='background: #FFFFFF'></div>
                </div>
            </div>
        </div>
        <div class='row'>
            <br>
        </div>
        <div class='row' style='white-space: nowrap; overflow: hidden'>
            <div class='col-md-10 col-md-offset-1'>
                <div class='row'>
                    <div class='col-xs-1 colorName'>0 black</div>
                    <div class='col-xs-1 colorName'>1 darkgreen</div>
                    <div class='col-xs-1 colorName'>2 green</div>
                    <div class='col-xs-1 colorName'>3 lightgreen</div>
                </div>
                <div class='row'>
                    <div class='col-xs-1 colorName'>4 darkred</div>
                    <div class='col-xs-1 colorName'>5 red</div>
                    <div class='col-xs-1 colorName'>6 lightred</div>
                    <div class='col-xs-1 colorName'>7 darkblue</div>
                </div>
                <div class='row'>
                    <div class='col-xs-1 colorName'>8 blue</div>
                    <div class='col-xs-1 colorName'>9 lightblue</div>
                    <div class='col-xs-1 colorName'>10 purple</div>
                    <div class='col-xs-1 colorName'>11 magenta</div>
                </div>
                <div class='row'>
                    <div class='col-xs-1 colorName'>12 pink</div>
                    <div class='col-xs-1 colorName'>13 orange</div>
                    <div class='col-xs-1 colorName'>14 yellow</div>
                    <div class='col-xs-1 colorName'>15 white</div>
                </div>
            </div>
        </div>
        <div class='row func'>
            <div class='col-md-8'>
                <h3>Functions:</h3>
                <ul>
                    <li><a href="#setpixel">setpixel</a></li>
                    <li><a href="#rectangle">rectangle</a></li>
                    <li><a href="#box">box</a></li>
                    <li><a href="#getpixel">getpixel</a></li>
                    <li><a href="#getpixeli">getpixeli</a></li>
                    <li><a href="#clear">clear</a></li>
                    <li><a href="#keypress">keypress</a></li>
                    <li><a href="#keyrelease">keyrelease</a></li>
                    <li><a href="#keyheld">keyheld</a></li>
                    <li><a href="#reset">reset</a></li>
                    <li><a href="#update">update</a></li>
                </ul>
            </div>
        </div>
        <div class='well func col-md-9'>
            <div class='row' id='setpixel'>
                <div class='col-md-11'><strong><pre class='funcname'>setpixel(x, y, color)</pre></strong></div>
            </div>
            <div class="row">
                <div class='col-md-11'>
                    Set the pixel at x,y to color. You can pass in a name (eg. 'red') or number (from 0 to 15) for the color.<br><br>
                    <i>This will set the top left pixel to the color blue and the bottom right pixel to red</i><br>
                    <pre class='helpcode'>setpixel(0, 0, 'blue');
setpixel(15, 15, 5);</pre></p>
                </div>
            </div>
        </div>
        <div class='well func col-md-9'>
            <div class='row' id='rectangle'>
                <div class='col-md-11'><strong><pre class='funcname'>rectangle(x, y, w, h, color)</pre></strong></div>
            </div>
            <div class="row">
                <div class='col-md-11'>
                    Sets all the pixels in a rectangle starting at at x,y extending to x + w, y + h (inclusive) to color. As with setpixel, you can pass in a name or number for the color.<br><br>
                    <i>This will set 9 pixels in the top left corner to the color yellow and all the pixels on the bottom row to purple</i><br>
                    <pre class='helpcode'>rectangle(1, 1, 3, 3, 'yellow');
rectangle(0, 15, 16, 1, 10);</pre></p>
                </div>
            </div>
        </div>
        <div class='well func col-md-9'>
            <div class='row' id='box'>
                <div class='col-md-11'><strong><pre class='funcname'>box(x, y, w, h, color)</pre></strong></div>
            </div>
            <div class="row">
                <div class='col-md-11'>
                    Draws a box starting at at x,y extending to x + w, y + h (inclusive). As with setpixel, you can pass in a name or number for the color.<br><br>
                    <i>This will draw an orange box 6 pixels wide and 8 pixels high at (5,4) in yellow </i><br>
                    <pre class='helpcode'>box(5, 4, 6, 8, 'orange');</pre>
                </div>
            </div>
        </div>
        <div class='well func col-md-9'>
            <div class='row' id='getpixel'>
                <div class='col-md-11'><strong><pre class='funcname'>getpixel(x, y)</pre></strong></div>
            </div>
            <div class="row">
                <div class='col-md-11'>
                    Get the color of the pixel at x,y.<br><br>
                    <i>This will check if the color of the pixel at (4,5) is yellow</i><br>
                    <pre class='helpcode'>if(getpixel(4, 5) === 'yellow') {
    // ...
}</pre></p>
                </div>
            </div>
        </div>
        <div class='well func col-md-9'>
            <div class='row' id='getpixeli'>
                <div class='col-md-11'><strong><pre class='funcname'>getpixeli(x, y)</pre></strong></div>
            </div>
            <div class="row">
                <div class='col-md-11'>
                    Get the index of the color of the pixel at x,y.<br><br>
                    <i>This will check if the color of the pixel at (4,5) is green</i><br>
                    <pre class='helpcode'>if(getpixeli(4, 5) === 2) {
    // ...
}</pre></p>
                </div>
            </div>
        </div>
        <div class='well func col-md-9'>
            <div class='row' id='clear'>
                <div class='col-md-11'><strong><pre class='funcname'>clear(color)</pre></strong></div>
            </div>
            <div class="row">
                <div class='col-md-11'>Set all the pixels to a single color.<br><br>
                    <i>This will clear all the pixels to black</i><br>
                    <pre class='helpcode'>clear('black');</pre></p>
                </div>
            </div>
        </div>
        <div class='well func col-md-9'>
            <div class='row' id='keypress'>
                <div class='col-md-11'><strong><pre class='funcname'>keypress()</pre></strong></div>
            </div>
            <div class="row">
                <div class='col-md-11'>Get the last key that was pressed.<br><br>
                    <i>This will check if the space bar was just pressed</i><br>
                    <pre class='helpcode'>if(keypress() === 'space') {
    // ...
}</pre></p>
                </div>
            </div>
        </div>
        <div class='well func col-md-9'>
            <div class='row' id='keyrelease'>
                <div class='col-md-11'><strong><pre class='funcname'>keyrelease(key)</pre></strong></div>
            </div>
            <div class="row">
                <div class='col-md-11'>Get the last key the was released.<br><br>
                    <i>This will check if the left key was just released</i><br>
                    <pre class='helpcode'>if(keyrelease() === 'left') {
    // ...
}</pre></p>
                </div>
            </div>
        </div>
        <div class='well func col-md-9'>
            <div class='row' id='keyheld'>
                <div class='col-md-11'><strong><pre class='funcname'>keyheld(key)</pre></strong></div>
            </div>
            <div class="row">
                <div class='col-md-11'>Check if a key is held down.<br><br>
                    <i>This will check if the up key is currently being pressed</i><br>
                    <pre class='helpcode'>if(keyheld('up')) {
    // ...
}</pre></p>
                </div>
            </div>
        </div>
        <div class='well func col-md-9'>
            <div class='row' id='reset'>
                <div class='col-md-11'><strong><pre class='funcname'>reset()</pre></strong></div>
            </div>
            <div class="row">
                <div class='col-md-11'>Restarts the game, as if the user had clicked the 'Run' button<br><br>
                    <i>This will restart the game if lives is 0</i><br>
                    <pre class='helpcode'>if(lives === 0) {
    reset();
}</pre></p>
                </div>
            </div>
        </div>
        <div class='well func col-md-9'>
            <div class='row' id='update'>
                <div class='col-md-11'><strong><pre class='funcname'>update(frame)</pre></strong></div>
            </div>
            <div class="row">
                <div class='col-md-11'>You provide this function. It will be called repeatedly at a rate specified by the 'speed' setting.<br>
                The parameter 'frame' is increased by 1 each time the function is called.<br><br>
                    <i>This is a very simple game</i><br>
                    <pre class='helpcode'>var x, y, c;

x = 0;
y = 0;
c = 1;
clear(0);   // code outside functions is run once when game starts

function update(frame) {
    if(keyheld('right')) {
        x = x + 1;
        if(x === 8) {
            clear('black');
            x = 0;
            y = y + 1;
            if(y === 8) {
                y = 0;
            }
        }
    }
    if(keypress() === 'space') {
        c = c + 1;
        if(c === 8) {
            c = 1;
        }
    }
    setpixel(x, y, c);
}</pre></p>
                </div>
            </div>
        </div>
    </div>
</div>
